html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
   background-color: rgb(204, 112, 204);
   padding: 5px 160px 10px 65px;
}

.item {
    border: solid 1px #345090;
    background-color: white;
    text-align: center;
    padding: 1px;
}

.container {
    min-height: 600px;
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
     /* grid-auto-rows: 200px 50px 300px 100px; */ 
    background-color: #1f4774;
    gap: 5px;
    /* grid-template-areas: 
        "banner banner banner banner"
        "cabecalho cabecalho cabecalho cabecalho "
        "principal principal principal lateral "
        "rodape rodape rodape rodape "
    ; */
}

.container *{
    border: solid 1px ;
    border-radius: 9px;
    background-color:white;
    text-align: center;
}
/*  
.banner {
    grid-area: banner;
    width: 665px;
    height: 280px;
    grid-column: auto;
    margin-left:10px;
}
.cabecalho { 
    grid-area: cabecalho;
    grid-column: 5; 
    height: 640px;
    grid-row: 1/ span 2;
    margin-left: 115px;
}
.principal {
    grid-area: principal;
    max-width: 325px;
    margin-left: 10px;
    margin-top: 50px;
    height: 330px;
}
.lateral {
    grid-area: lateral;
    height: 640px;
    grid-row: 1 / span 2;
    grid-column: 6;
    margin-left: 5px;
    margin-right: 5px;
}
footer{
    grid-column:4;
    grid-row: 3;
    margin-top: 50px;
    height: 330px;
} */

.banner {
    grid-area: 1 / 1 / 1 / 3;
    min-height: 280px;
}

.cabecalho {
    grid-area: 1 / 3 / 3 / 3;
    min-width: 100px;
}

.principal {
    grid-area: 1 / 4 / 3 / 4;
    min-width: 100px;
}

.lateral, .footer {
    min-height: 200px;
    min-width: 200px;
}